In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import scipy

In [9]:
df = pd.read_csv("Costomer+OrderForm.csv")
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

null hypothesis = All proportions are equal

Alternate hypothesis = Not all proportions are equal

In [10]:
print(df['Phillippines'].value_counts(),df['Indonesia'].value_counts(),df['India'].value_counts(),df['Malta'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64

In [11]:
obs = ([[271,267,280,269],[29,33,20,31]])