In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import statistics

In [5]:
df = pd.read_csv('Cars.csv')
df

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [9]:
nd = stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3],df.iloc[:,4])

In [10]:
stat, p = stats.f_oneway(nd,df['MPG'])
if p < 0.05:
    print('Reject Null Hypothesis. Not Normal')
else:
    print('Fail to reject Null hypothesis. Distribution is normal')

Reject Null Hypothesis. Not Normal

In [11]:
df = pd.read_csv('wc-at.csv')
df

      Waist      AT
0     74.75   25.72
1     72.60   25.89
2     81.80   42.60
3     83.95   42.80
4     74.65   29.84
..      ...     ...
104  100.10  124.00
105   93.30   62.20
106  101.80  133.00
107  107.90  208.00
108  108.50  208.00

[109 rows x 2 columns]

In [12]:
nd = stats.f_oneway(df.iloc[:,0],df.iloc[:,1])

In [13]:
stat, p = stats.f_oneway(nd,df['Waist'],df['AT'])
if p < 0.05:
    print('Reject Null Hypothesis. Not Normal')
else:
    print('Fail to reject Null hypothesis. Distribution is normal')

Reject Null Hypothesis. Not Normal