In [2]:
import pandas as pd
import numpy as np
from scipy import stats
import scipy
from scipy.stats import chi2_contingency

In [3]:
df = pd.read_csv("Costomer+OrderForm.csv")
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

null hypothesis = Defective doesn't vary center by center

Alternate hypothesis =Defective vary by center

In [4]:
print(df['Phillippines'].value_counts(),df['Indonesia'].value_counts(),df['India'].value_counts(),df['Malta'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64

In [5]:
obs = ([[271,267,280,269],[29,33,20,31]])

In [6]:
obs

[[271, 267, 280, 269], [29, 33, 20, 31]]

In [7]:
chi,p,dof,exp = chi2_contingency(obs)
p

0.2771020991233135

In [9]:
if p<0.05:
    print(print(f"Since P:{p} < alpha: 0.05 Reject the Hypothesis"))
else:
    print(f"Since P:{p} > alpha: 0.05 Failed to reject null hypothesis")

Since P:0.2771020991233135 > alpha: 0.05 Failed to reject null hypothesis

Since P:0.2771020991233135 > alpha: 0.05 Failed to reject null hypothesis