In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import scipy

In [2]:
df = pd.read_csv('LabTAT.csv')
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

null hypothesis = no significant difference,

alternate hypothesis = There is significant difference in atleast 1 column

In [3]:
f,p= stats.f_oneway(df['Laboratory 1'],df['Laboratory 2'],df['Laboratory 3'],df['Laboratory 4'])

In [5]:
if p<0.05:
    print(f"Since P:{p} < alpha: 0.05 Reject null Hypothesis")
else:
    print(f"Since P:{p} > alpha: 0.05 Failed to reject null hypothesis")

Since P:2.1156708949992414e-57 < alpha: 0.05 Reject null Hypothesis

Since P:2.1156708949992414e-57 < alpha: 0.05 Reject null Hypothesis